# SimpleMediaServer Configuration
# This file contains the configuration for the SimpleMediaServer

# Multiple media sources (preferred)
MediaSources = [
    "./testData",
    # Add more paths as needed:
    # "/Users/username/Pictures"
    # "/home/user/Videos"
    # "C:\\Users\\username\\Documents\\Photos"
]

# Single media source (legacy, will be ignored if MediaSources is provided)
# MediaSource = "./testData"

# Example paths:
# MediaSource = "/Users/username/Pictures"
# MediaSource = "/home/user/Videos"
# MediaSource = "C:\\Users\\username\\Documents\\Photos" 
