<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.name}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>{{.name}}</h1>
    <h2>Directories</h2>
    <ul>
        {{range .Directories}}
            <li><a href="{{.Url}}">{{.Name}}</a></li>
        {{end}}
    </ul>
    <h2>Files</h2>
    <div id="image-grid-container" 
         hx-get="/image-grid/{{.DirectoryId}}/{{.Path}}"
         hx-trigger="load"
         hx-target="#image-grid-container">
    </div>
</body>
</html>
