<div class="image-grid">
    {{range .Files}}
        <a href="{{.Url}}">
            {{if .IsVideo}}
            <video controls>
                <source src="{{.ResourceUrl}}">
                Your browser does not support the video tag.
            </video>
            {{else}}
                <img src="{{.ThumbnailUrl}}" alt="{{.Name}}" loading="lazy">
            {{end}}
        </a>
    {{end}}
</div>
