<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.name}}</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <div>
            <a href="{{.PrevUrl}}">Previous</a>
            <a href="{{.NextUrl}}">Next</a>
        </div>
        <a href="{{.NextUrl}}">
            {{if .isVideo}}
                <video controls style="max-width: 80%; max-height: 80%;">
                    <source src="{{.ResourceUrl}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {{else}}
                <img src="{{.ResourceUrl}}" alt="{{.Name}}" style="max-width: 80%; max-height: 80%;">
            {{end}}
        </a>
    </div>

    <div class="image-grid">
        {{range .Others}}
            <a href="{{.Url}}"><img style="max-width: 25%; height: auto;" src="{{.ThumnailUrl}}" alt="{{.Name}}"></a>
        {{end}}
    </div>
</body>
</html>
