<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.name}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <a href="/" class="home-button" title="Go to Home">🏠</a>
    
    <div class="media-viewer">
        {{if .isVideo}}
            <video controls>
                <source src="{{.ResourceUrl}}">
                Your browser does not support the video tag.
            </video>
        {{else}}
            <a href="/fullscreen/{{.FileId}}/{{.Path}}">
                <img src="{{.ResourceUrl}}" alt="{{.Name}}">
            </a>
        {{end}}
    </div>

    <div class="image-grid" id="image-grid-container" 
         hx-get="/image-grid/{{.DirectoryId}}/{{.Path}}?start={{.GridStart}}&end={{.GridEnd}}"
         hx-trigger="load"
         hx-swap="innerHTML">
    </div>
</body>
</html>
